'.source.coffee':
  'Turbolinks page:load ready':
    'prefix': 'ready'
    'body': '$(document).on "page:load ready", ->\n  $0'

  'Document on keypress':
    'prefix': 'dokp'
    'body': """
      $(document).on "keypress", "${1:#}", ->
        $0
    """

  'Document on keyup':
    'prefix': 'doku'
    'body': """
      $(document).on "keyup", "${1:#}", ->
        $0
    """

  'Document on click':
    'prefix': 'doc'
    'body': """
      $(document).on "click", "${1:#}", ->
        $0
    """
