'.source.coffee':
  'Turbolinks load':
    'prefix': 'load'
    'body': '$(document).on "turbolinks:load", ->\n  $0'

  'Document on keypress':
    'prefix': 'dokeypress'
    'body': """
      $(document).on "keypress", "${1:#}", ->
        $0
    """

  'Document on keyup':
    'prefix': 'dokeyup'
    'body': """
      $(document).on "keyup", "${1:#}", ->
        $0
    """

  'Document on click':
    'prefix': 'doclick'
    'body': """
      $(document).on "click", "${1:#}", ->
        $0
    """

  'Document on change':
    'prefix': 'dochange'
    'body': """
      $(document).on "click", "${1:#}", ->
        $0
    """
