'.source.coffee':
  'Turbolinks load':
    'prefix': 'load'
    'description': "$(document).on 'turbolinks:load', ->"
    'body': '$(document).on "turbolinks:load", ->\n  $0'

  'Document on keypress':
    'prefix': 'dokeypress'
    'description': "$(document).on 'keypress', '#selector', ->"
    'body': """
      $(document).on "keypress", "${1:#}", ->
        $0
    """

  'Document on keyup':
    'prefix': 'dokeyup'
    'description': "$(document).on 'keyup', '#selector', ->"
    'body': """
      $(document).on "keyup", "${1:#}", ->
        $0
    """

  'Document on click':
    'prefix': 'doclick'
    'description': "$(document).on 'click', '#selector', ->"
    'body': """
      $(document).on "click", "${1:#}", ->
        $0
    """

  'Document on change':
    'prefix': 'dochange'
    'description': "$(document).on 'change', '#selector', ->"
    'body': """
      $(document).on "change", "${1:#}", ->
        $0
    """

  '$.ajax':
    'prefix': '$.ajax'
    'description': "$.ajax"
    'body': """
      $.ajax
        url: '/${1:statistics_by_month}.json'
        dataType: '${2:json}'
        success: (response) ->
          console.log response
          $0
    """
