'.source.ruby, .source.ruby.rails .meta.rails.controller':

  'Rails logger.info':
    'prefix': 'rlog'
    'body': 'Rails.logger.info { "${1:message}" }'

  'logger.info':
    'prefix': 'log'
    'body': 'logger.info $1'

  'logger.error':
    'prefix': 'loge'
    'body': 'Rails.logger.error { "${1:message}" }'

  'logger.debug':
    'prefix': 'logd'
    'body': 'Rails.logger.debug { "${1:message}" }'

  'puts debugger':
    'prefix': 'puts*'
    'body': 'puts "****************************************"'
