'.source.ruby, .source.ruby.rails, .support.function.activerecord.rails':

  'enum':
    'prefix': 'enum'
    'body': """
      enum ${1:status}: [
        :${2:active},
        :${3:unactive},
        :${4:archieved}
      ]$5
      """

  'scope':
    'prefix': 'scope'
    'body': 'scope :${1:scope_name}, -> { ${2:where(${3:field}: ${4:true})} } $5'

  'default_scope':
    'prefix': 'ds'
    'body': 'default_scope { ${2:where(${3:field}: ${4:true})} } $5'
