'.source.ruby, .source.ruby.rails .meta.rails.model':

  'enum':
    'prefix': 'enum'
    'body': """
      enum ${1:status}: [
        :${2:active},
        :${3:unactive},
        :${4:archieved}
      ]$5
    """

  'scope':
    'prefix': 'scope'
    'body': 'scope :${1:scope_name}, -> { ${2:where(${3:field}: ${4:true})} $5 }'

  'scope_params':
    'prefix': 'scopep'
    'body': """
      scope :${1:scope_name}, -> (${2:param}) do
        where(${3:attribute}: ${2:param})
      end
    """

  'scope_lambda':
    'prefix': 'scopel'
    'body': """
      scope :${1:scope_name}, -> do
        where(${2:"${3:created_at} ${4:>=} ?",} ${5:Time.now - 1.week})
      end$6
    """

  'scope_between_dates':
    'prefix': 'scopebd'
    'body': """
      scope :${1:scope_name}, -> do
        where(
          "${2:attribute} BETWEEN ? AND ?",
          ${3:Time.now.at_beginning_of_day},
          ${4:Time.now.at_end_of_day}
        )
      end$5
    """

  'scope_joins':
    'prefix': 'scopej'
    'body': """
      scope :${1:scope_name},
        joins(:${2:table_name}).where(
          "${2:table_name}.${3:join_table_attribute} ${4:=} ?",
          ${5:true}
        )$6
    """

  'scope_joins_with_parameter':
    'prefix': 'scopejp'
    'body': """
      scope :${1:scope_name}, -> (${2:attribute}) do
        joins(:${3:table_name}).where(
          "${3:table_name}.${4:join_table_attribute} ${5:=} ?",
          ${2:attribute}
        )
      end$7
    """

  'default_scope':
    'prefix': 'ds'
    'body': """
      default_scope do
        ${2:where(${3:field}: ${4:true})}
      end $5
    """

  'alias_attribute':
    'prefix': 'ala'
    'body': "alias_attribute :${1:new_name}, :${2:old_name}$0"
