# this snippets are sensitive defaults when working with rails, are intended to
# be used when the selected syntax is different than Ruby (Ruby on Rails).
'.source.ruby, .source.ruby.rails':

  'class':
    'prefix': 'class'
    'body': """
      class ${1:ClassName}
        ${2:# code}
      end
    """

  'model':
    'prefix': 'model'
    'body': """
      class ${1:User} ${2:< ${3:ApplicationRecord}}
        ${4:# code}
      end
    """

  'controller':
    'prefix': 'controller'
    'body': """
      class ${1:Users}Controller < ApplicationController
        ${2:# code}
      end
    """

  'module':
    'prefix': 'module'
    'body': """
      module ${1:ModuleName}
        ${2:# code}
      end
    """

  'concern':
    'prefix': 'concern'
    'body': """
      module ${1:ConcernName}
        extend ActiveSupport::Concern
        ${2:included do
          ${3:# code }
        end}

        # instance methods
        ${4:# def instance_method
        #
        # end}

        module ClassMethods
          # static methods
          ${5:# def static_method
          #
          # end}
        end
      end
    """

  'each block':
    'prefix': '.each'
    'body': """
      .each do |${1:member}|
        ${2:${1:member}}$0
      end
    """

  'each do':
    'prefix': '.e'
    'body': """
      .each do |${1:member}|
        ${2:${1:member}}$0
      end
    """

  'each_with_index':
    'prefix': '.ewi'
    'body': """
      .each_with_index do |${1:member}, ${2:index}|
        ${3:${1:member}}$0
      end
    """

  'elsif statement':
    'prefix': 'elsif'
    'body': 'elsif ${1:true}'

  'elsif else statement':
    'prefix': 'elsife'
    'body': """
      elsif ${1:true}
        ${2:# code}
      else
    """

  'array_iteration':
    'prefix': '=loop'
    'body': """
      ${1:array}.each do |${2:member}|
        ${3:${2:member}}$0
      end
    """

  # just if not using atom official ruby syntax::
  'def':
    'prefix': 'def'
    'body': """
      def ${1:method}
        ${2:# code}
      end
    """
