'.text.html.erb > .embedded.line.erb > .source.ruby,
.text.html.ruby > .embedded':
  'embedded_font_awesome_icon':
    'prefix': 'fa'
    'body': 'fa_icon("${1:search}"${2:, text: "${3:Buscar}"})'

  'embedded each':
    'prefix': '.each'
    'body': """
      .each do |${1:member}| %>
        <%= ${1:member} $2 %>
      <% end
    """

  'embedded loop':
    'prefix': ' do' #(space)do here to beat https://github.com/atom/language-ruby/blob/master/snippets/language-ruby.cson#L142
    'body': """
       do ${1:|${2:member}|} %>
        <%= $3 %>
      <% end
    """

  'embedded link_to':
    'prefix': 'lt'
    'body': 'link_to "${1:text}", ${2:path}, ${4:class: "${3:btn btn-primary}"}$0'

  'embedded_fa_link':
    'prefix': 'ltf'
    'body': 'link_to fa_icon("${1:search}"${2:, ${3:text}: "${4:Buscar}"}), ${5:path}'

  'embedded_number_to_currency':
    'prefix': 'ntc'
    'body': 'number_to_currency ${1:number}'

  'embedded_number_to_human':
    'prefix': 'nth'
    'body': 'number_to_human ${1:number}'
